#page2 {
  background: #393E46;
}

#page3 {
  background: #00ADB5;
}

#page4 {
  background: #EEEEEE;
}

.page {
  position: absolute;
  min-width: 90vw;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

.show {
  transform: translateX(0%);
  transform: scale(1);
  transition: all 1s cubic-bezier(.84, .06, .26, .97);
}

.hide {
  transform: translateX(110vw);
  transition: all .5s cubic-bezier(.84, .06, .26, .97);
}
