.page {
  text-align: center;
  /* margin: 25vh auto; */
  display: grid;
  grid-template-rows: repeat(4, 20vh);
  align-items: center;
}

.show {
  animation: .5s ease-in-out slideIn;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(-4%);
  }
  to {
    transform: translateX(0%);
  }
}

@media (max-width: 800px) {

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    50% {
      opacity: 1;
      transform: translateY(-10%);
    }
    to {
      transform: translateY(0%);
    }
  }
}


