.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 10vw 90vw;
  justify-items: center;
}

@media (max-width: 800px) {
  .App {
    width: 100vw;
    height: 100vh;
    grid-template-columns: inherit;
    grid-template-rows: 1fr 10vh;
  }

  .Content {
    grid-row: 1 / 2;
  }

  .Navbar {
    grid-row: 2 / 3;
  }
}
