.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 10vw 90vw;
}

.Navbar {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

@media (max-width: 800px) {
  .App {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 80vh 20vh;
    align-items: center;
  }

  .Content {
    grid-row: 1 / 2;
  }

  .Navbar {
    grid-row: 2 / 3;
    grid-template-rows: none;
    grid-template-columns: repeat(4, 1fr);
  }
}
